{% load static %}
<header>
    <div class="navbar">
      <div class="navbar-content">
                    <div class="language-switch">
                        <label for="language-select">Language:</label>
                        <select id="language-select">
                            <option value="en">English</option>
                            <option value="vi">Vietnamese</option>
                        </select>
                    </div>
<!--                <div class="logo">Your Logo</div>-->
                <div class="navbar-links">
                    <div class="account">
                        {% with total_items=cart|length %}
                            {% if total_items > 0 %}
                              Your cart:
                              <a href="{% url 'cart:cart_detail' %}">
                                {{ total_items }} item{{ total_items|pluralize }},
                                {{ cart.get_total_price }} VND
                              </a>
                            {% else %}
                              Your cart is empty.
                            {% endif %}
                        {% endwith %}
                    </div>

                    <a href="#" class="notification"><i class="fas fa-bell"></i></a>
                {% if request.user.is_authenticated %}
                    <div class="account">Hello, {{ request.user.username }}</div>
                    <form action="{% url 'logout' %}" method="post">{% csrf_token %}<button class="account" type="submit">Log Out</button ></form>
                    {% else %}
                    <!-- User is not logged in -->
                    <a href="{% url 'login' %}" class="account">Log In</a>
                {% endif %}
                </div>
            </div>
    </div>
  <img src="{% static 'img/sushiheader.png' %}" />
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'book' %}">Book</a></li>
    <li><a href="{% url 'bookings' %}">Reservations</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'eat_in_restaurant:choose_table' %}">eat-in</a></li>
    {% endif %}
  </ul>
</nav>
