{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/choose_food_items_styles.css' %}">
    <title>Order Check</title>
</head>
<body>

<h1>Order Check</h1>

<p>Selected Table: {{ selected_table }}</p>

<h2>Finished Dishes</h2>
{% if finished_dishes %}
    <ul>
        {% for dish in finished_dishes %}
            <li>{{ dish.dish.name }}</li>
        {% endfor %}
    </ul>

    <h2>Total Price</h2>
    <p>Total Price: VND{{ total_price }}</p>

    <!-- Finish Button Form -->
    <form method="post" action="{% url 'eat_in_restaurant:mark_table_not_booked' %}">
        {% csrf_token %}
        <button type="submit">Finish</button>
    </form>
{% else %}
    <p>No dishes finished. Please go back and select some dishes.</p>
    <p>Chưa có món ăn nào được mang ra xin quý khách vui lòng chờ đợi giây lát</p>
{% endif %}

</body>
</html>



