<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Food Items</title>
</head>
<body>
    <h1>Choose Food Items</h1>
    <form method="post">
        {% csrf_token %}
        {{ food_items|length }} available food items for Table {{ selected_table }}:
        <ul>
            {% for item in food_items %}
                <li>
                    <input type="checkbox" name="food_items" value="{{ item.id }}" id="food_item_{{ item.id }}">
                    <label for="food_item_{{ item.id }}">{{ item.name }} - ${{ item.price }}</label>
                </li>
            {% endfor %}
        </ul>
        {{ order_form.as_p }}
        <button type="submit">Place Order</button>
    </form>
</body>
</html>