/* choose_food_items_styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.choose-dish-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}

.dish-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
}

.dish-list li {
    box-sizing: border-box;
    width: calc(50% - 10px); /* Adjust the width as needed with margin */
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: center;


}


.dish-box {
    display: inline-block; /* Make it an inline block to center horizontally */
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 220px;
    width: 180px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    vertical-align: middle; /* Align in the middle vertically */
}

img {
    width: 100%;
    max-width: 180px;
    height: 180px;
    display: block;
    border-bottom: 1px solid #ddd; /* Border between image and name */
}

.dish-name {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-btn {
    background-color: #eee;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #ddd;
}

input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}
/* Add this section to center the submit button */

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust the margin as needed */
}

button[type="submit"] {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for better appearance */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Set font size */
    margin-right: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Add this section for the search bar */

.search-bar {
    text-align: center;
}

#searchInput {
    padding: 10px;
    width: 100px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button[type="button"] {
    background-color: #45a049; /* Blue background color */
    color: white; /* White text color */
    padding: 10px; /* Padding for better appearance */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 14px; /* Set font size */
}

button[type="button"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Apply a grid layout to the container */
div.filter-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px; /* Adjust the gap according to your design */
}

/* Style the label */
label {
    font-weight: bold;
}

/* Style the select element */
select {
    width: 30%;
    padding: 8px;
    margin-top: 30px;
}

/* Adjustments for responsiveness */
@media (max-width: 600px) {
    div.filter-container {
        grid-template-columns: 1fr;
    }
}
.show-finished-btn {
    display: inline-block;
    margin-top: 0px;
    padding: 8px 16px;
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.show-finished-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}
.messages {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4CAF50; /* Green border for success messages */
    color: #4CAF50; /* Green text color for success messages */
    background-color: #e6ffe6; /* Light green background color for success messages */
    border-radius: 5px;
    transition: opacity 1s ease-out; /* Fading effect */
}

.messages li.hidden {
    opacity: 0;
}
