{% extends "base.html" %}
{% load static %}
{% block title %}
  Your shopping cart
{% endblock %}
{% block content %}
  <h1>Your shopping cart</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Dish</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with dish=item.dish %}
          <tr>
            <td>

            </td>
            <td>
              {% if dish.id %}{{ dish.name }}{% endif %}</td>
            <td>
              <form action="{% url 'cart:cart_add' dish.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td>
                <form action="{% if dish.id %}{% url 'cart:cart_remove' dish.id %}{% endif %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">{{ item.price }} VND</td>
            <td class="num">{{ item.total_price }} VND</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} VND</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'menu' %}" class="button
    light">Continue shopping</a>
    <a href="{% url 'order_cart:order_create' %}" class="button">
      Checkout
    </a>
  </p>
{% endblock %}
