{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
  <div class="registration-container"> <!-- Changed class name to "registration-container" -->
    <h1 class="registration-form-title">Create an account</h1> <!-- Changed class name to "registration-form-title" -->
    <p>Please, sign up using the following form:</p>
    <form method="post">
      {{ user_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Create my account"></p> <!-- Changed class name to "registration-form-input" -->
    </form>
  </div>
{% endblock %}
